.header {
    background-image: url("../img/about_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    &__title {
        margin: 0;
        padding: 40px 0;
        width: 100%;
        font-family: $ffRoboto-Medium;
        font-size: 2.625rem;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
    }
}