.privacy-label {
    font-size: .875rem;
    margin-top: 10px;
    color: #adadad;
    text-align: center;

    &--big {
        margin: 0;
        padding: 0;
        margin-top: 8px;
        font-size: 1rem;
        color: #c1e799;

        .privacy-label__icon {
            width: 21px;
            height: 25px;
            fill: #6aa928;
            vertical-align: -6px;
        }
    }
    
    &__icon {
        width: 14px;
        height: 17px;
        margin-right: 5px;
        fill: #adadad;
        vertical-align: -3px;
    }
}