.request-form {
    padding-top: 60px;
    padding-bottom: 75px;

    @include respond-to (tablet) {
        padding: 40px 0;
    }

    &__input-group {
        display: block;
        margin-top: 32px;
        text-align: center;
    }

    &__input {
        display: inline-block;
        margin-left: 20px;
        padding: 15px 10px;
        min-width: 267px;
        border: 1px solid #a7a7a7;

        &:first-child {
            margin-left: 0;
        }

        &:active {
            border-color: #6aa928;
        }

        @include respond-to (tablet) {
            min-width: 200px;
        }

        @include respond-to (phone-lend) {
            margin-top: 10px;
            margin-left: 0;
            margin-right: 0;
            min-width: 100%;
        }
    }

    &__submit {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 80px;
        color: #ffffff;
        border: none;
        background-color: #6aa928;
        transition: $tr3s;
        
        &:hover {
            background-color: #f4d130;
        }

        @include respond-to (phone-lend) {
            margin-right: 0;
            margin-left: 0;
            min-width: 100%;
        }
    }
}