.bg-dark {
    background-color: $bg-gray !important;
}

.bg-light {
    background-color: #ffffff !important;
}

%reset_link {
    text-decoration: none;
    outline: none;
    border: none;
}

@function strip-units($number) {
    @return $number / ($number * 0 + 1);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
