// Media width
$phone: 320px;
$small: 750px;
$large: 1000px;
$wide: 1100px;


//Fonts
$ffRoboto-Regular: 'Roboto Regular', sans-serif;
$ffRoboto-Medium: 'Roboto Medium', sans-serif;
$ffRoboto-Bold: 'Roboto Bold', sans-serif;


$tr3s: ease all 0.3s;