.about-top {
    padding: 75px 0;

    @include respond-to (tablet) {
        padding: 40px 0;
    }

    &__list {
        padding-left: 20px;
        color: #0076fa;
    }

    &__right-container {
        position: relative;
        width: 100%;
        text-align: center;
    }
    
    &__img-container {
        position: absolute;

        @media screen and (max-width: 1200px) {
            position: static;
            top: 0;
            right: 0;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        &--top {
            top: 0;
            z-index: 2;
        }

        &--bottom {
            top: 240px;
            right: 20px;
            z-index: 1;
        }
    }
}