<section class="address clearfix">
    <div class="address__img-block">
        <img class="address__img" src="img/object_big.jpg" alt="608 NE 2nd Ave, Okeechobee,FL 34972, USA">
        <address class="address__adr">
            608 NE 2nd Ave, Okeechobee,<br> FL 34972, USA
        </address>
    </div>
    <div class="address__map-container">
    	<iframe class="address__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3547.025122669571!2d-80.83049484515618!3d27.249741423953925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dc201e3f6acc33%3A0xb44781ecb427ddf4!2s608+NE+2nd+Ave%2C+Okeechobee%2C+FL+34972%2C+USA!5e0!3m2!1sen!2sua!4v1507919029956"
        frameborder="0" allowfullscreen></iframe>
    </div>
</section>
