<header class="header">
        <div class="container">
            <div class="header__container">
                <div class="row">
                    <a class="header__logo" href="index.html">
                        <img src="img/logo.png">
                    </a>
                    <nav>
                        <ul class="header__menu" id="main-menu">
                            <li class="header__menu-element menu-item menu-item-object-page current-menu-item">
                                <a class="header__menu-link" href="about.html">About Us
                                    <svg class="header__menu-link-icon">
                                        <use xlink:href="img/sprite.svg#angle-down"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="header__menu-element menu-item menu-item-object-page">
                                <a class="header__menu-link" href="#">Treatment
                                    <svg class="header__menu-link-icon">
                                        <use xlink:href="img/sprite.svg#angle-down"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="header__menu-element menu-item menu-item-object-page">
                                <a class="header__menu-link" href="#">
                                            Scholarship
                                        </a>
                            </li>
                            <li class="header__menu-element menu-item menu-item-object-page">
                                <a class="header__menu-link" href="#">Blog</a>
                            </li>
                            <li class="header__menu-element menu-item menu-item-object-page">
                                <a class="header__menu-link" href="#">
                                    Contact Us
                                    <svg class="header__menu-link-icon">
                                        <use xlink:href="img/sprite.svg#angle-down"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__connection-block">
                        <a class="header__call-link" href="tel:863-623-4923">Call Us (863) 623-4923</a>
                        <br>
                        <a class="header__email-link" href="mailto:admissions@detoxofsouthfl.com">admissions@detoxofsouthfl.com</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <h1 class="header__title">About Us</h1>
            </div>
        </div>
    </header>