<div class="container">
    <div class="menu">
        <div class="row">
            <a class="menu__logo" href="index.html">
                <img src="img/logo.png">
            </a>
            <nav>
                <ul class="menu__list" id="main-menu">
                    <li class="menu__list-element menu-item menu-item-object-page current-menu-item">
                        <a class="menu__link" href="about.html">About Us
                            <svg class="menu__link-icon">
                                <use xlink:href="img/sprite.svg#angle-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page">
                        <a class="menu__link" href="#">Treatment
                            <svg class="menu__link-icon">
                                <use xlink:href="img/sprite.svg#angle-down"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page">
                        <a class="menu__link" href="#">
                            Scholarship
                        </a>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page">
                        <a class="menu__link" href="#">Blog</a>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page">
                        <a class="menu__link" href="#">
                            Contact Us
                            <svg class="menu__link-icon">
                                <use xlink:href="img/sprite.svg#angle-down"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="menu__connection-block">
                <a class="menu__call-link" href="tel:863-623-4923">Call Us (863) 623-4923</a>
                <br>
                <a class="menu__email-link" href="mailto:admissions@detoxofsouthfl.com">admissions@detoxofsouthfl.com</a>
            </div>
        </div>
    </div>
</div>