<div class="container">
    <div class="menu" id="top-menu">
        <div class="row">
            <a class="menu__logo" href="index.html">
                <img src="img/logo.png">
            </a>
            <nav>
                <span class="menu__trigger-btn">&#9776;</span>
                <ul class="menu__list" id="main-menu">
                    <li class="menu__list-element menu-item-has-children menu-item menu-item-object-page menu-item-has-children">
                        <a class="menu__link" href="#">About Us</a>
                        <ul class="sub-menu">
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="about.html">Option 1</a>
                            </li>
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="about.html">Option 2</a>
                            </li>
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="about.html">Option 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page menu-item-has-children">
                        <a class="menu__link" href="#">Treatment</a>
                        <ul class="sub-menu">
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="blog.html">Option 1</a>
                            </li>
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="blog.html">Option 2</a>
                            </li>
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="blog.html">Option 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page">
                        <a class="menu__link" href="#">Scholarship</a>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page">
                        <a class="menu__link" href="blog.html">Blog</a>
                    </li>
                    <li class="menu__list-element menu-item menu-item-object-page menu-item-has-children">
                        <a class="menu__link" href="#">
                            Contact Us
                        </a>
                        <ul class="sub-menu">
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="contacts.html">Option 1</a>
                            </li>
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="contacts.html">Option 2</a>
                            </li>
                            <li class="menu__list-l2-element menu-item">
                                <a class="menu__list-l2-link" href="contacts.html">Option 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="menu__right-wrapper">
                <div class="menu__connection-block">
                    <a class="menu__call-link" href="tel:863-623-4923">Call Us (863) 623-4923</a>
                    <a class="menu__email-link" href="mailto:admissions@detoxofsouthfl.com">admissions@detoxofsouthfl.com</a>
                    <a class="menu__step-link" href="#">Take a first step!</a>
                </div>
            </div>

        </div>
    </div>
</div>
