<section class="request-form section">
    <div class="container">
        <h2 class="section__title">Request a Free Call Today</h2>
        <form action="#" method="POST">
            <div class="request-form__input-group row">
                <input class="request-form__input" type="text" name="username" required max="25" min="3" placeholder="Enter your name">
                <input class="request-form__input" type="text" name="phone" required min="9" placeholder="Enter your phone number">
                <input class="request-form__input" type="email" name="email" required placeholder="Enter your e-mail">
            </div>
            <div class="row">
                <input class="request-form__submit" type="submit" value="Call Me Right Now">
            </div>
        </form>
        <div class="request-form__label">
            <svg class="request-form__label-icon">
                <use xlink:href="img/sprite.svg#shield"></use>
            </svg>
            Privacy Guaranteed
        </div>
    </div>
</section>