<section class="request-form section">
    <div class="container">
        <h2 class="section__title">Request a Free Call Today</h2>
        <form action="#" method="POST"></form>
        <div class="row">
            <input class="request-form__input" type="text" name="username" required max="25" min="3">
            <input class="request-form__input" type="text" name="phone" required min="9">
            <input class="request-form__input" type="email" name="email" required>
        </div>
        <div class="row">
            <input class="request-form__submit" type="submit" value="Call Me Right Now">
        </div>
        </form>
        <div class="request-form__label">
            <svg class="request-form__label-icon">
                <use xlink:href="img/sprite.svg#shield"></use>
            </svg>
            Privacy Guaranteed
        </div>
    </div>
</section>