<section class="rss">
    <h2 class="rss__title">Latest posts</h2>
    <article class="post post--rss">
        <div class="post-icon-text">
            <svg class="post-icon-text__icon">
                <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="post-icon-text__text">Sep 13, 2017</span>
        </div>
        <div class="post__title">
            Will AmeriHealth Cover My Drug and Alcohol Rehabilitation?
        </div>
        <p class="post__text">Rehabilitation is a good thing. The word itself means to restore someone’s life from imprisonment, illness and most
            <a class="post__read-more" href="#">importantly...</a></p>
    </article>
    <article class="post post--rss">
        <div class="post-icon-text">
            <svg class="post-icon-text__icon">
                <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="post-icon-text__text">Sep 12, 2017</span>
        </div>
        <div class="post__title">
            United Behavioral Health Drug and Alcohol Coverage
        </div>
        <p class="post__text">Addiction is a hard enough to beat, dealing with withdrawals and negative psychological effects. What makes it worse
            is that rehab <a class="post__read-more" href="#">detox...</a></p>
    </article>
    <article class="post post--rss">
        <div class="post-icon-text">
            <svg class="post-icon-text__icon">
                <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="post-icon-text__text">Sep 11, 2017</span>
        </div>
        <div class="post__title">
            TUFTS Substance Abuse Rehabilitation and Detox Coverage
        </div>
        <p class="post__text">If you suspect that you have an addiction, the best course of action is to seek help. You often don’t see it as a
            problem until it starts hurting others, so <a class="post__read-more" href="#">why...</a></p>
    </article>

    <div class="rss__banner">
        <div class="rss__banner-text">Need Help Now? Please call our 24 hour hotline</div>
        <div class="rss__banner-number">
            (863) 623-4923
        </div>
    </div>
</section>