<section class="rss">
    <h2 class="rss__title">Latest posts</h2>

    <div class="rss__post">
        <div class="post-icon-text">
            <svg class="post-icon-text__icon">
                <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="post-icon-text__text">Sep 13, 2017</span>
        </div>
        <a class="rss__post-title" href="#" title="Will AmeriHealth Cover My Drug and Alcohol Rehabilitation?">
            Will AmeriHealth Cover My Drug and Alcohol Rehabilitation?
        </a>
        <p class="rss__post-text">Rehabilitation is a good thing. The word itself means to restore someone’s life from imprisonment, illness and most
            <a class="rss__post-read-more" href="#" title="read more">importantly...</a></p>
    </div>


    <div class="rss__post">
        <div class="post-icon-text">
            <svg class="post-icon-text__icon">
                <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="post-icon-text__text">Sep 12, 2017</span>
        </div>
        <a class="rss__post-title" href="#" title="United Behavioral Health Drug and Alcohol Coverage">
            United Behavioral Health Drug and Alcohol Coverage
        </a>
        <p class="rss__post-text">Addiction is a hard enough to beat, dealing with withdrawals and negative psychological effects. What makes it worse
            is that rehab <a class="rss__post-read-more" href="#" title="read more">detox...</a></p>
    </div>
    <div class="rss__post">
        <div class="post-icon-text">
            <svg class="post-icon-text__icon">
                <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <span class="post-icon-text__text">Sep 11, 2017</span>
        </div>
        <a class="rss__post-title" href="#" title="TUFTS Substance Abuse Rehabilitation and Detox Coverage">
            TUFTS Substance Abuse Rehabilitation and Detox Coverage
        </a>
        <p class="rss__post-text">If you suspect that you have an addiction, the best course of action is to seek help. You often don’t see it as a
            problem until it starts hurting others, so <a class="rss__post-read-more" href="#" title="read more">why...</a></p>
    </div>

    <a class="rss__banner" href="tel:(863) 623-4923" title="call to us">
        <div class="rss__banner-text">Need Help Now? Please call our 24 hour hotline</div>
        <div class="rss__banner-number">
            (863) 623-4923
        </div>
    </a>
</section>