<section class="team section">
    <div class="container">
        <h2 class="section__title">Meet The Team</h2>
        <div class="row">
            <div class="team__person mx-auto">
                <img class="team__person-img" src="img/person1.png" alt="Dr. Vikram Tarugu">
                <div class="team__person-name">Dr. Vikram Tarugu</div>
                <p class="team__person-text section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="team__person mx-auto">
                <img class="team__person-img" src="img/person2.png" alt="Dr. Vikram Tarugu">
                <div class="team__person-name">Dr. Vikram Tarugu</div>
                <p class="team__person-text section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="team__person mx-auto">
                <img class="team__person-img" src="img/person3.png" alt="Dr. Vikram Tarugu">
                <div class="team__person-name">Dr. Vikram Tarugu</div>
                <p class="team__person-text section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="team__person mx-auto">
                <img class="team__person-img" src="img/person4.png" alt="Dr. Vikram Tarugu">
                <div class="team__person-name">Dr. Vikram Tarugu</div>
                <p class="team__person-text section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="team__person mx-auto">
                <img class="team__person-img" src="img/person1.png" alt="Dr. Vikram Tarugu">
                <div class="team__person-name">Dr. Vikram Tarugu</div>
                <p class="team__person-text section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>