<section class="testimonials section">
    <div class="container">
        <h2 class="section__title">What Our Patients Have to Say</h2>
        <div class="row">
            <div class="col-lg-3">
                <img src="img/video_example1.jpg" alt="testimonial 1">
            </div>
            <div class="col-lg-3">
                <img src="img/video_example2.jpg" alt="testimonial 2">
            </div>
            <div class="col-lg-3">
                <img src="img/video_example3.jpg" alt="testimonial 3">
            </div>
            <div class="col-lg-3">
                <img src="img/video_example4.jpg" alt="testimonial 4">
            </div>
        </div>
        <div class="testimonials__slider">
            <div class="testimonials__slide">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar1.png" alt="Rita Bohl">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Rita Bohl</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        When I first arrived I was very nervous and I kept thinking what have I done, 3 weeks later...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>

                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar2.png" alt="Lana Aranga">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Lana Aranga</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        I've been to multiple treatment centers and detox. Bar none, Detox of South Florida is the best care...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="row">
                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar3.png" alt="Anna Smart">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Anna Smart</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        I was in really bad shape when I entered the detox . I had severe withdrawals from heroin...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>

                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar4.png" alt="Aflatun Kaiser">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Aflatun Kaiser</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        The techs at this detox are awesome and caring, doctors are nice and all around great facility...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="row">
                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar5.png" alt="Mark Bruno">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Mark Bruno</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        Naturalistic remedies are available which could ease both physical and emotional discomfort...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>

                            <div class="testimonials__one">
                                <div class="col-3">
                                    <div class="testimonial__no-avatar-img">
                                        <div class="testimonial__first-letter">A</div>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Adrianna Stuart</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        Detox of south Florida save my life!. I am a mother of 3 wonderful kids and I needed to get clean back...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="testimonials__slide">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar1.png" alt="Rita Bohl">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Rita Bohl</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        When I first arrived I was very nervous and I kept thinking what have I done, 3 weeks later...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>

                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar2.png" alt="Lana Aranga">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Lana Aranga</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        I've been to multiple treatment centers and detox. Bar none, Detox of South Florida is the best care...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="row">
                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar3.png" alt="Anna Smart">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Anna Smart</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        I was in really bad shape when I entered the detox . I had severe withdrawals from heroin...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>

                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar4.png" alt="Aflatun Kaiser">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Aflatun Kaiser</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        The techs at this detox are awesome and caring, doctors are nice and all around great facility...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="row">
                            <div class="testimonials__one">
                                <div class="col-3">
                                    <img src="img/avatar5.png" alt="Mark Bruno">
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Mark Bruno</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        Naturalistic remedies are available which could ease both physical and emotional discomfort...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>

                            <div class="testimonials__one">
                                <div class="col-3">
                                    <div class="testimonial__no-avatar-img">
                                        <div class="testimonial__first-letter">A</div>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="testimonials__name">Adrianna Stuart</div>
                                    <div class="testimonials__rank">
                                        <span class="testimonials__ago">6 month ago</span>
                                        <span class="testimonials__stars-container">
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                            <svg class="testimonials__star">
                                                <use xlink:href="img/sprite.svg#star"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="testimonials__text">
                                        Detox of south Florida save my life!. I am a mother of 3 wonderful kids and I needed to get clean back...
                                        <a class="testimonials__read-more-btn" href="#">read more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row -->
            </div><!-- slide -->
        </div><!-- slider -->

        <div class="testimonials__slider-controls">
            <a class="testimonials__control-next" href="#">
                <svg class="testimonials__control-next">
                    <use xlink:href="img/sprite.svg#chevron-circle-right"></use>
                </svg>
            </a>
            <a class="testimonials__control-prev" href="#">
                <svg class="testimonials__control-prev">
                    <use xlink:href="img/sprite.svg#chevron-circle-right"></use>
                </svg>
            </a>
        </div>

    </div>
</section>