.call-btn {
    text-align: center;

    &__link {
        display: inline-block;
    }

    &__link-icon {
        width: 54px;
        height: 54px;
        padding: 10px;
        background-color: #588e1f;
        fill: #c1e799;
        box-sizing: border-box;
    }

    &__text {
        padding: 18px 20px;
        float: right;
        background-color: #6aa928;
        color: #ffffff;
    }
}