.home-header {
    padding-bottom: 200px;
    background-image: url('../img/index_top_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -1px;

    @include respond-to (tablet) {
        padding-bottom: 50px;
    }

    &__title {
        padding: 0;
        margin-top: 200px;

        @include respond-to (tablet) {
            margin-top: 50px;
        }
    }

    &__subtitle {
        font-size: 1.125rem;
        color: #ffffff;
        margin-top: 25px;
        margin-bottom: 35px;
    }
}